body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin: 10px;
    padding: 10px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    padding: 5px;
}

p {
    margin: 5px;
    padding: 5px
}

img {
    border-width: 2px;
    border-style: dotted;
    border-color: firebrick;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

#container {
    width: 800px;
    height: 400px;
    padding: 1rem;
    background-color: antiquewhite;
    border-radius: 10px;
}

ul {
    float: left;
    height: 300px;
    width: 150px;
    margin: 5px;
    line-height: 1.5rem;
}

#changingContent {
    float: left;
    height: 390px;
    width: 630px;
    padding: 5px;
    font-size: 1.5rem;
    background-color: #fbf6f0;
    border-radius: 10px;
}

a {
    color: firebrick;
}

a:hover {
    color: coral;

}